/* body */
body{
    background-image: linear-gradient(rgba(3, 1, 32, 0.5), rgba(0,0,0,0.5),rgba(3, 1, 32, 0.5), rgba(0,0,0,0.5)), url(../Assets/main-hero-desktop.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    padding: 0;
    margin: 0;
  }

/* header */
.logo{
    position: relative;
    margin-top: 1%;
    padding-left: 10px;
    font-size: 170%;
    padding-bottom: 5px;
}
.logo a{
    float: left;
    font-size: 100%;
    text-decoration: none;
    color: white;
}
.logo a span{
    font-size: 150%;
    color: green;
}
.logo a img{
    width: 6%;
    height: auto;
}
.home-buttons{
    padding-right: 3px;
    list-style: none;
    margin-top: -20px;
    float: right;
}
.home-buttons li{
    display: inline-block;
    margin-top: 7%;
}
.home-buttons li a{
    color: white;
    text-decoration: none;
    margin-top: 0;
    margin-right: 3%;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;   
    font-size: 100%;
}
.home-buttons li a:hover{
    color: rgb(11, 180, 11);
    font-size: 100%;
}
.menu-icon img{
    display: none;
    width: 10px;
    height: 10px;
}
/* section */
#body{
    margin: 30px;
    height: 235px;
}

.welcome {
    padding-top: 2%;
    color: aliceblue;
    font-size: 170%;
    margin: 4%;
}

.welcome h1{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 15px;
    font-size: 200%;
    text-align: center;
}
.welcome a{
    padding: 1%;
    background-color: rgb(6, 6, 65);
    color: white;
    text-transform: uppercase;
    font-size: 60%;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
}
.welcome a:hover{
    color: white;
    background-color: rgb(2, 42, 2);
}
/* signup-page */
body.image{
    background-image: linear-gradient(rgba(3, 1, 32, 0.5), rgba(0,0,0,0.5)), url(../Assets/range-rover-lrx-2010-img_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.signup-page{
    display: flex;
    width: 100%;
    flex-direction: row;
}
.info{
    padding-right: 20%;
    columns: white;
    width: 70%;
}
.info h3{
    font-size: 250%;
    color: #FFFFFF;
}
.info h4{
    font-size: 200%;
    color: lightgray;
}
  .form {
    padding-right: 30px;
    width: 30%;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    flex-basis: 50%;
  }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 13px;
    padding: 13px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background:  rgb(17, 17, 17);
    
    width: 100%;
    border: 0;
    padding: 15px;
    color: rgb(231, 225, 225);
    font-size: 14px;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form button a{
    text-decoration: none;
    color: #FFFFFF;
}
.form button:hover{
    background: rgb(1, 47, 1);
    color: #FFFFFF;
}
.form button:active,.form button:focus {
  background: rgb(17, 17, 17);
  color: #FFFFFF;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 100%;
}
.form .message a {
  color: #b3b3b3;
  text-decoration: none;
}

.form .message a:hover{
    color: rgb(255, 255, 255);
  }

/* footer */
#footer{
  margin-top: 24.5%;
    color: aliceblue;
    text-align: center;
}

/* querries */
@media screen and (max-width: 768px) {
    body{
        background-repeat: no-repeat;
        background-size: 200%;
        background-position: center;
        padding: 0;
        margin: 0;
      }
    h1, h3{
        font-size: 100%;
    }
    h2, h4{
        font-size: 90%;
    }
    p{
        font-size: 80%;
    }
    header{
        position: absolute;
    }
    .logo{
        font-size: 100%;
    }
    .menu-icon{
        display: inline-block;
    }
   
    .welcome a{
        letter-spacing: 2px;
        margin-bottom: 10%;
    }
    .home-buttons li{
    margin-top: 10%;
}
.home-buttons li a{
    color: rgb(255, 255, 255);
}
.welcome h1{
    padding-top: 20px;
}

/* signup page */
.signup-page{
    display: inline-block;
    width: 87%;
}
.form {
    padding-right: none;
    width: 80%;
    margin: 0 auto 100px;
    text-align: center;
  }
  body.image{
    background-repeat: no-repeat;
    background-size: 515%;
    background-position: center;
}
    footer{
        padding-top: 35%;
    }
}